---
{{ ansible_managed | comment }}
{% include 'molecule/beginning.yml.j2' %}
platforms:
{% for platform in meta.galaxy_info.platforms %}
{% set name = platform.name %}
{% for version in platform.versions %}
{% if version == "all" %}
{% for tag in generator_distribution_version_mapping[name][version] %}
{% if platform.name == "EL" and generator_EL_override is defined and generator_EL_override is iterable %}
{% set name = generator_EL_override[tag] %}
{% endif %}
{% set version = tag %}
{% include 'platforms_item.yml.j2' %}
{% endfor %}
{% else %}
{% if platform.name == "EL" and generator_EL_override is defined and generator_EL_override is iterable %}
{% set name = generator_EL_override[version] %}
{% endif %}
{% include 'platforms_item.yml.j2' %}
{% endif %}
{% endfor %}
{% endfor %}
{% include 'molecule/end.yml.j2' %}
{#
# vim: set filetype=yaml.jinja2:
#}
