{% if (name == "EL") and (generator_EL_no_7 is defined) and (generator_EL_no_7 | bool) and (version == 7) %}
{% else %}
  - name: "{{ generator_role_name }}-{{ name | lower }}-{{ version | lower }}"
    image: "quay.io/gotmax23/{{ name | lower }}-systemd:{{ version | lower }}"
    command: ""
    pre_build_image: true
{%- if molecule_file.driver is defined and molecule_file.driver == "docker" %}
    tmpfs:
      - /run
      - /run/lock
      - /tmp
      - /sys/fs/cgroup/systemd
      - /var/lib/journal
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
{% endif %}
{% endif %}
