{% set _driver = molecule_file.driver | default(generator_molecule_default_driver) %}
dependency:
  name: galaxy
  options:
{% if requirements_stat.stat.exists | bool %}
    role-file: requirements.yml
    requirements-file: requirements.yml
{% endif %}
    force: ${GALAXY_FORCE:-{{ molecule_file.galaxy_force }}}
lint: |
  set -e
  yamllint .
  ansible-lint
driver:
{{ _driver | to_nice_yaml | indent(width=2, first=true) }}
{#
# vim: set filetype=yaml.jinja2:
#}
