provisioner:
  name: ansible
  config_options:
    defaults:
      stdout_callback: yaml
  playbooks:
    converge: "../playbooks/${CONVERGE_PLAYBOOK:-converge.yml}"
    prepare: "../playbooks/${PREPARE_PLAYBOOK:-prepare.yml}"
    verify: "../playbooks/${VERIFY_PLAYBOOK:-verify.yml}"
{% if verify_stat.stat.exists | bool %}
verifier:
  name: ansible
{% endif %}
{% if generator_molecule_scenario is defined %}
scenario:
{% if generator_molecule_scenario.test_sequence is defined %}
  test_sequence:
{% for step in generator_molecule_scenario.test_sequence %}
    - {{ step }}
{% endfor %}
{% endif %}
{% endif %}
{#
# vim: set filetype=yaml.jinja2:
#}
