{% set _driver = molecule_file.driver | default(generator_molecule_default_driver) %}
    command: ""
    pre_build_image: true
{% if _driver.name == "docker" %}
    tmpfs:
      - /run
      - /run/lock
      - /tmp
      - /sys/fs/cgroup/systemd
      - /var/lib/journal
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
{% else %}
    systemd: true
{% endif %}
