---
{{ ansible_managed | comment }}
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable

ignore: |
  .cache/
{% if generator_molecule_wflow_test is defined %}
  .github/workflows/molecule.yml
{% endif %}

# {{ "vim: set filetype=yaml:" }}
{#
# vim: set filetype=yaml.jinja2:
#}
