---
{{ ansible_managed | comment }}
repository:
  description: {{ generator_role_description | default(meta.galaxy_info.descriptioni) }}
  homepage: "https://galaxy.ansible.com/{{ generator_namespace }}/{{ generator_role_name }}"
  topics: {% for tag in meta.galaxy_info.galaxy_tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}, ansible, molecule, ansible-role, role
