---
{% set tags = meta.galaxy_info.galaxy_tags|default([]) + generator_default_tags %}
{{ ansible_managed | comment }}
repository:
  description: {{ generator_role_description | default(meta.galaxy_info.description) }}
  homepage: "https://galaxy.ansible.com/{{ generator_namespace }}/{{ generator_role_name }}"
  topics: {% for tag in tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}
