---
name: Generate pip cache

'on':
  workflow_dispatch:
  schedule:
    - cron: "{{ generator_pip_cache_workflow_cron }}"

jobs:
  cache:
    runs-on: ubuntu-20.04
    steps:
      - name: "Set up Python 3.9"
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
{% include "cache_include.yml.j2" %}

      - name: Install all needed pip packages
        run: |
          pip3 install -U pip
          pip3 install wheel
          pip3 install molecule molecule-podman ansible-core ansible yamllint ansible-lint
