---
- name: Converge
  hosts: all
  tasks:
    - name: "Include {{ generator_namespace }}.{{ generator_role_name }}"
      include_role:
        name: "{{ generator_namespace }}.{{ generator_role_name }}"
{#
# vim: set filetype=yaml.jinja2:
#}
